<?xml version="1.0"?>
<configuration>
  
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <sectionGroup name="enyim.com">
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
  </sectionGroup>
  <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
  </configSections>
  <enyim.com>
    <memcached>
      <servers>
        <!-- put your own server(s) here-->
        <add address="10.4.99.10" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>
  <connectionStrings>
    <add name="SHTagToSalesBlog" connectionString="Data Source=10.4.99.11;Initial Catalog=SHTag;Persist Security Info=True;User ID=SHTagToSalesBlog;Password=SHTagToSalesBlog@P@ssw0rd;" providerName="System.Data.SqlClient" />
    <add name="FindProperty" connectionString="Data Source=10.4.99.11;Initial Catalog=findproperty;User ID=ecFindpropertyR;Password=94djghrungvgl((UUd" providerName="System.Data.SqlClient" />
    <add name="Cms" connectionString="Data Source=10.4.99.5;Initial Catalog=CMS;Persist Security Info=True;User ID=cmsadmin;Password=cmsadmin.2012" providerName="System.Data.SqlClient" />
    <add name="CentalineEst" connectionString="Data Source=10.4.99.11;Initial Catalog=CentalineEst;User ID=ecFindpropertyR;Password=94djghrungvgl((UUd" providerName="System.Data.SqlClient" />
    <add name="FindproertyMainWeb" connectionString="Data Source=10.4.99.11\reader;Initial Catalog=CentalineMainWeb;User ID=HomeUser;Password=hu.2013" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
    <!--begin ioc untiy-->
    <add key="UnityConfigFilePath" value="Config\Unity\Unity.config" />
    <add key="IocComponetTypeName" value="FindProperty.Lib.Ioc.Unity.UnityComponent,FindProperty.Lib" />
    <!--end-->
    <!--memcached begin-->
    <!--<add key="ServerList" value="10.4.99.10:11211"/>
    <add key="Weight" value="5"/>
    <add key="MaxConnection" value="100"/>
    <add key="InitConnections" value="10"/>
    <add key="MinConnections" value="10"/>
    <add key="SocketConnectTimeout" value="1000"/>
    <add key="SocketTimeout" value="3000"/>
    <add key="MaintenanceSleep" value="30"/>
    <add key="Failover" value="1"/>
    <add key="Nagle" value="0"/>-->
    <!--memcached end-->
    <!--mdb begin-->
    <add key="MongoDatabaseConnectionString" value="mongodb://10.4.99.6:29102/?minPoolSize=8;maxPoolSize=256" />
    <add key="MongoDatabasePrimaryConnectionString" value="mongodb://10.4.99.10:29102/?minPoolSize=8;maxPoolSize=256" />
    <add key="FindpropertyMongoDatabase" value="PostTemp" />
    <add key="SHTagToSalesBlogMongoDatabase" value="SHTag" />

    <!--<add key="PropertyInfoConnection" value="mongodb://10.4.99.2:27017" />-->
    <add key="PropertyInfoConnection" value="mongodb://10.4.99.6:32102,10.4.99.5:32102/?slaveOk=true" />
    <add key="PropertyInfoTableName" value="ctpost" />
    <add key="dbFlag" value="1"/>
    <!--mdb end-->
    <!--Call400-->
    <add key="CallAPI400" value="http://api.centanet.com/call-400/salesblog_info" />
    <add key="ConsumerKeySalesBlog" value="h2kuyde8kncl937x" />
    <add key="ConsumerSecretSalesBlog" value="kpqex7h28wkesdsj" />
    <!--Call400 end-->
    <add key="ImgSercieUrl" value="http://img.sh.centanet.com/" />
    <add key="HistoryPostCookieName" value="__HistoryPost__New__v1" />
    <!--url begin-->
    <add key="HouseListSale" value="sale" />
    <add key="HouseListRent" value="rent" />
    <add key="HouseInfoView" value="view/" />
    <add key="AgentList" value="agents" />
    <add key="AgentInfo" value="blog/" />
    <add key="AgentNetrust" value="netrust/" />
    <add key="MainUrl" value="http://sh.centanet.com" />
    <add key="CurrentMainUrl" value="http://sh.centanet.com/" />
    <add key="WeiboUrl" value="http://e.weibo.com/shcentanet" />
    <!--url end-->
    <!-- 邮件服务器-->
    <add key="SMTPHOST" value="10.4.19.111" />
    <!-- 邮件服务器端口-->
    <add key="SMTPPORT" value="25" />
    <add key="EmailSenderAddress" value="wzyyb@centaline.com.cn" />
    <add key="EmailUserName" value="wzyyb" />
    <add key="EmailPassword" value="2345.sh" />
    <add key="EmailHost" value="shs-maildb01.centaline.com.cn" />
    <!-- Main Tag-->
    <add key="MainRecommendTag" value="满五年唯一,学区,婚房首选,两房朝南,多层,酒店式公寓" />
    <add key="HitCountMSMQPath" value="FormatName:DIRECT=Tcp:10.4.99.7\private$\WebSiteHitCount" />
    <add key="HitCountWMSMQPath" value="FormatName:DIRECT=Tcp:10.4.99.7\private$\WebSite3HitCount" />
    <add key="AgentHitCountMSMQPath" value="FormatName:DIRECT=Tcp:10.4.99.7\private$\AgentHitCount" />
    <!-- Main Tag-->
    <add key="HostList" value="sh.centanet.com" />
    <add key="EnableCache" value="0" />
    <add key="StartPage" value="sale" />
    
    <!--出租出售价格区间-->
    <add key="pricesection" value="300000"/>
    <add key="rentalsection" value="300" />
    <add key="percent" value="0.1" />
    <!--后台上传图片地址-->
    <add key="FindPropertyMainWebImageSaveUrl" value="http://oa.sh.centanet.com/homewebmanage/"/>
    <add key="FindPropertyWebResourceUrl" value="http://static.sh.centanet.com/findproperty/131015/" />
    <add key="BlockRecordHitCountRequestIpList" value="116.228.21.187,61.152.255.226,61.152.255.227,61.152.255.228,61.152.255.229,61.152.255.230,61.152.255.231,61.152.255.232,61.152.255.233,61.152.255.234,61.152.255.235,61.152.255.236,61.152.255.237,61.152.255.238,61.152.255.239,61.152.255.240,61.152.255.241,61.152.255.242,61.152.255.243,61.152.255.244,61.152.255.245,61.152.255.246,61.152.255.247,61.152.255.248,61.152.255.249,61.152.255.250,61.152.255.251,61.152.255.252,61.152.255.253,61.152.255.254,61.152.255.255"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

</configuration>
